*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

button{
    font-family: inherit;
    cursor: pointer;
}

input,textarea,select{
    font-family: inherit;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

